.Form{
  margin-top: 10%;
  width: 60%;
  text-align: center;
}

.myBox{
  height: max-content;
}

.form-label{
  margin-bottom: 30px;
  font-weight: bold;
}

.btn1{
  margin-top: 20px;
  float: left;
}

.btn2{
  margin-top: 20px;
  float: center;
}

.btn3{
  margin-top: 20px;
  float: right;
  background-color: rgb(26, 163, 205);
  color: #1f1f1f;
}

.btn4{
  margin-top: 20px;
  float: left;
  color: #1f1f1f;
}

.btn1:hover{
  background-color: black;
  color: white;
  border-color: rgb(172, 239, 151);
}

.btn2:hover{
  background-color: black;
  color: white;
  border-color: rgb(154, 116, 223);
}

.btn3:hover{
  background-color: black;
  color: white;
  border-color: rgb(26, 163, 205);
}

.btn4:hover{
  background-color: black;
  color: white;
  border-color: red;
}

.overView{
  margin-top: 5px;
  color: white;
}

.preview{
  margin-top: 30px;
  text-align: left;
}

.previewText{
  margin-top: 20px;
  text-align: left;
  color: white;
}

.navBar{
  background: #1f1f1f;
  color: aliceblue;
  color: white;
}